.NavLink {
    text-decoration: none;
    color: #484848;
    margin: 0px 10px;
}

.Grow {
    flex-grow: 1;
}

.SectionDesktop {
    display: none;
}

.SectionMobile {
    display: flex;
}

@media only screen and (min-width: 960px) {
    .SectionDesktop {
        display: flex;
    }
    
    .SectionMobile {
        display: none;
    }
} 