.Container {
    height: 400px;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .Dense {
    margin-top: 19px;
  }
  
  .Menu {
    width: 200;
    height: 400;
  }
  
  .FormSelect {
    width: 100%;
  }
  .FormTextField {
    width: 50%;
  }
  
  @media only screen and (max-width: 956px) {
    .FormTextField {
      width: 80%;
    }
    .FormSelect {
      width: calc(100% - 40px);
      margin-left: 20px !important;
      margin-right: 20px !important;
    }
  }